.kenburns-bottom {
	-webkit-animation: kenburns-bottom 10s ease-out 0.2s infinite both;
	        animation: kenburns-bottom 10s ease-out 0.2s infinite both;
}

/*kenburns*/
 @-webkit-keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }
  @keyframes kenburns-bottom {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 84%;
              transform-origin: 50% 84%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(15px);
              transform: scale(1.25) translateY(15px);
      -webkit-transform-origin: bottom;
              transform-origin: bottom;
    }
  }
  